@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
body {
  background-color: rgb(224, 224, 224);
}

.font-light {
  font-family: "Quicksand", sans-serif;
}

.modal-backdrop {
  display: none;
}
